.pageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .boxWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      //padding: theme.spacing(3)
      .textWelcome {

      }

    }
  }
}
